.App {
  text-align: center;
  font-family: chalkboardSE-Bold;
  background-color: white;
}

.App-logo {
  animation: App-logo-spin infinite 150s linear;
  height: 90px;
}

.App-header {
  background-color: white;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.SearchPhoto {
  border-style: solid;
  border-width: 5px;
  height: 200px; 
}



